body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.gif-container {
    background-color: #000;
    overflow: hidden;
    height: 50vh; /* Adjusted height for better visibility */
}

.gif {
    width: 100%;
    margin-top: -20%;
    object-fit: contain; /* Ensures the whole image is visible */
}

.navbar {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.heading {
    font-size: 40px; /* Adjusted font size for better visibility */
    font-weight: bolder;
    letter-spacing: 2vw;

}

.bodycontainer {
    padding: 20px;
}

.mainbody {
    font-size: 30px; /* Adjusted font size for better visibility */
    line-height: 24px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.div-block-6 {
    display: flex;
    justify-content: center;
}

.button {
    border-radius: 25px;
    background-color: #ecb938;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px 30px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #c79621;
}

.button:active {
    transform: scale(0.95);
}

#resultText {
    font-size: 48px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #ecb938;
    margin-top: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
